# Virtual environment
somenv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variable files
.env
*.env

# VS Code settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db
